
      html { 
        height: 75%;        
      }

      body { 
        height: 75%;
        margin: 0; 
        padding: 0;
        clear:both;
      }

      .body {
       clear: both; 
       margin: 0 auto; 
       background-image:url("app_background_gradient.png");
       background-size: 100% 100%;
      }

      #map-canvas { 
        float:left;
        border-top: solid thin black;
        border-bottom: solid thin black;
        border-right: solid thin black;
        border-left: solid thin black;
        width: 96%;
        height: 100%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
      }

     
      .btb-sidemenu_1{      
        background-color: grey;
        margin-top: 2%;
        width: 450px;
        margin-left: auto;
        margin-right: auto;        
      }

      .btb-sidemenu_1 select{
        width: 100%;
        height: 5%;
      }

      .btb-sidemenu_1 input{
        width: 100%;
      }

      .btb-sidemenu_2{
        background-color: grey;
        margin-top: 2%;
         width: 450px;
        margin-left: auto;
        margin-right: auto;
      }

      .btb-sidemenu_2 input{
        width: 100%;
        margin-bottom: 2%;
      }

      .btb-sidemenu_2 h1 {
        margin-left: 20%;
      }

       .btb-sidemenu_3{
        margin-top: 1%;
        margin-left: 25%;
        
         float: left;
         width: 47%;
         height: 30%;
         background-color: grey; 
         
      }

      nav{
          /*background-color: #D1D0CE;*/
          background-color: #B6B3AC;
          width: 100%;
     }

      nav ul li{
        /*margin-right: 1em;*/
        display: inline;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
      }

      nav li a{
        padding: 1em;
        color:white;
        text-decoration: none;
      }

      nav li a:hover{
       color:black; 
      }

      input[type=submit] {
        width: 100%;  height: 4em;
        margin-top: 4%;
        }

    .checklist{

        margin-top: 1%;
         margin-left: 20%;
         float: left;
         width: 55%;
         background-color: grey; 

      }

      .checklist h1{
        margin-left: 20%;
      }

      .checklist input{
        margin-left: 5%;
        width: 20%;
      }

      .checklist table{
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;

    }

    #dateHeader{
      font-size: 14px;
    }

    .checklist table td{
            width: 10%;
            padding:auto;
            border: solid 2px white;
          }
    .checklist table th{
          width: 10%;
          border: solid 2px white;
    }

    .logOut{
      margin-left: 40%;
    }


    .checkBox{
      zoom:2;
    }

     #schedule_nav ul li{
      display: inline;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
        padding-left: 5%;
       
    }

    #schedule_nav li a{
      color:white;
      text-decoration: none;
    }

    #schedule_nav li a:hover{
      color: black;
    }

     
    
     @media only screen and (min-width : 150px) and (max-width : 780px){

       html { 
        height: 75%;
      }

      body { 
        height: 75%;
        margin: 0; 
        padding: 0;
        clear:both;
      }

      .body {
       clear: both; 
       margin: 0 auto; 
       background-image:url("app_background_gradient.png");
       background-size: 100% 150%;

      }

      .header img{
        width: 100%;
      }

      #map-canvas { 
        float:left;
        border-top: solid thin black;
        border-bottom: solid thin black;
        border-right: solid thin black;
        border-left: solid thin black;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
      }

      .btb-sidemenu_1{
        margin-right: 3%;
        float:left;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        
      }

      .btb-sidemenu_1{
        color:black;
        margin-right: 10px;
      }

      .btb-sidemenu_1{
        color: black;
      }

      .btb-sidemenu_2{
        float: left;
        width: 100%;
        margin-left: 3%;
        margin-bottom: 2%;

      }

      .btb-sidemenu_3{
        width:96%;
        
        margin-left: 2%;
        margin-right: 2%;
        

      }

      nav{      
      /*background-color: #D1D0CE;*/
      height: 75%;
      background-color: #B6B3AC;
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
      overflow:scroll;
     }

     nav ul li a{
      display:block;
     }
     
     .checklist{

        margin-top: 1%;
         margin-left: 2%;
         margin-bottom: 2%;
         float: left;
         width: 95%;
         height: 100%;
         background-color: grey; 

         
      }

      .checklist h1{
        margin-left: 10%;
        margin-right: 10%;
      }

      .checklist input{
        margin-left: 20%;
      }



      .logOut{
      margin-left: 0;
    }

    #schedule-panel{
    overflow:scroll;

    }

    .checkBox{
      zoom:1;
    }

    .adp{
      width:96%;
      margin-right: 2%;
      margin-left: 2%;
      
    }

  }
    
   


    @media screen and (orientation:landscape) {

      html{
        height: 100%;
      }

      body{
        height: 100%;

      }

      nav {
        /*
        height: 70%;
        */
        background-size: 100% 100%;
      }


       #schedule-panel{
        /*
        height: 100%;
        */
        overflow:scroll;
      }

      #map-canvas { 
        height: 50%;
      }
    }


 
    }


    